.facetContainer {
    .FilterHeaders {
        padding: 5px 0 0 8px
    }
    background: white;
    border-radius: 5px;
    .facetTitle, .facetRadio {
        text-align: center;
    }
}

input[type=radio] {
    -webkit-appearance: none;
}


.radioLabel {
    padding: 5px;
    border-radius: 3px;
    background: #c7dea4;
    color: white;
    cursor: pointer;
}

input[type=radio]:checked + .radioLabel{
    background: #0a940a;
}


