<div class="facetContainer">
    <h4 class="FilterHeaders">Filters</h4>
    <div class="facet-launch-year" (change)="facetFilter($event)">
        <div class="container launch-year" >
            <p class="facetTitle">Launch Year</p>
            <hr/>
            <div class="row"> 
            <div *ngFor="let year of launchingYear" class="col-md-6 col-6 facetRadio">
                <input type="radio" role="radio" name="launch_year" id={{year}}  value={{year}}/>
                <label for={{year}} class="radioLabel">{{year}}</label>
            </div>
        </div>
        </div>
        <div class="container success-launch">
            <p class="facetTitle">Succesfull Launch</p>
            <hr/>
            <div class="row">
            <div class="col-md-6 col-6 col-sm-6 facetRadio">
                <input type="radio" role="radio" name="launch_success"  value="true" id="launch" />
                <label for="launch" class="radioLabel">True</label>
            </div>
            <div class="col-md-6 col-6 col-sm-6 facetRadio">
                <input type="radio" role="radio" name="launch_success" value="false" id="notlaunch" />
                <label for="notlaunch" class="radioLabel">False</label>
            </div>
        </div>
        </div>
        <div class="container success-landing">
            <p class="facetTitle">Succesfull Landing</p>
            <hr/>
            <div class="row">
            <div class="col-md-6 col-6 facetRadio">
                <input type="radio" role="radio" name="land_success"  value="true" id="success" />
                <label for="success" class="radioLabel">True</label>
            </div>
            <div class="col-md-6 col-6 facetRadio">
                <input type="radio" role="radio" name="land_success" value="false" id="fails" />
                <label for="fails" class="radioLabel">False</label>
            </div>
        </div>
        </div>
    </div>
</div>
