.box {
    background: #efefef;
}
.facetBlock {
    max-width: 275px;
}
.box > h2 {
    margin-bottom: 20px;
}
.row , h2{
    max-width: 1440px;
    margin: 0 auto
}

.dev_name {
    text-align: center;
    padding:10px;
}

@media (max-width: 767px) {
    .facetBlock {
        max-width: unset;
    }
}


